/*********************
General Styling for WP Admin Form
*********************/

.soasta_container {
    margin: 50px 0 0 10px;
    width: 500px;
	font-size: 14px;
	line-height: 1.4;
	color: #565656;
	background: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
.soasta_footer {
   position:absolute;
   bottom:0;
   width:500px;
   height:40px;   /* Height of the footer */
   margin: 10px 0px 0px 10px;
   padding-left: 10px;
   border: 2px solid red;
   font-size: 14px;
   line-height: 1.4;
   color: white;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   background:#42B4E6;
}
	
.soasta_container h1 {
	font-size: 2.5em;
	line-height: 1.333em;
	font-weight: 200;
	color: #8F8F8F; 
	}  

.soasta_form {  
	background-color: #d8d9da;
    border: 1px solid #a8a8a8;
    margin-top: 20px;
    padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.soasta_input {
	font-size: 14px;
	width: 390px;
}

.soasta_submit {
	background:#42B4E6;
	border: 1px solid #a8a8a8;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 6px;
    color: white;
	font-size: 14px;
	width: 80px;
}